.background-cream {
  background: #F5D372 !important
}

.box-shadow {
  box-shadow: 1px 2px 20px -10px rgba(0, 0, 0, 0.75) !important
}

.border-radius {
  border-radius: 15px !important
}

.max-height-img {
  height: 139px !important
}

.cursor-pointer {
  cursor: pointer !important
}

.product-font-size {
  font-size: 13px !important;
  font-weight: 500 !important
}

.paragraph {
  text-indent: 30px !important;
  text-align: justify !important
}

.button-hover {
  color: white !important
}

.button-hover:hover {
  color: #F5D372 !important;
  background: white !important
}

.w-5 {
  width: 5% !important
}